.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-main {
	margin: 1rem;

	.muzica-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

		p {
			margin: 0.2rem 0;
		}

		.title {
			font-weight: bold;
		}
		
		.attachment-post-thumbnail {
			width: 300px;		
		}
	}
}