.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-main {
	margin: 1rem;

	.page-title {
		color: #023f3e;
		border-bottom: 2px solid #023f3e;
	}

	.event-grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		column-gap: 30px;

		.event-grid-item {
			background-color: #ecf7f7;
			width: fit-content;			
			margin-bottom: 2rem;			
			padding: 0.5rem;
			border-radius: 4px;
			box-shadow: 1px 1px 4px 0px #b6bebd;

			&:hover {
				background-color: #def1f1;
			}

			p {
				margin: 0;
			}
	
			.title {
				font-weight: bold;
				font-size: 1.4rem;
				color: #023f3e;;
			}
	
			.date {
				color: #08807d;
				font-weight: bold;
				font-size: 0.8rem;
				margin-bottom: 4px;
			}

			.location {
				font-size: 0.8rem;
				margin-bottom: 0.5rem;
				color: #212121;
				background-color: #99cecd;
				width: fit-content;
				padding: 1px 5px;
				border-radius: 10px;
			}
			
			.attachment-post-thumbnail {
				max-width: 304px;
				max-height: 180px;
				object-fit: cover;	
			}
		}		
	}
}