.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-main {
	margin: 1rem;

	.page-title {
		text-transform: uppercase;
		border-bottom: 2px solid black;
	}

	.muzica-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

		.muzica-item {
			background-color: #f6f4f4;
			width: fit-content;			
			margin-bottom: 2rem;			
			padding: 0.5rem;
			border-radius: 7px;

			&:hover {
				background-color: #e8e7e7;
			}

			p {
				margin: 0;
			}
	
			.title {
				font-weight: bold;
				font-size: 1.6rem;
				color: #911667;
			}
	
			.date {
				color: #666666;
				font-weight: bold;
			}

			.location {
				font-size: 0.8rem;
				margin-bottom: 0.5rem;
				color: #666666;
			}
			
			.attachment-post-thumbnail {
				width: 300px;		
			}
		}		
	}
}